<div class="mx-auto w-9/12 flex py-14 sm:py-32 px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="flex-shrink-0">
    <iframe class="rounded-md" title="vimeo-player" src="https://player.vimeo.com/video/872832184?h=65b6c3dbfc" width="640" height="360" frameborder="0"    allowfullscreen></iframe>
  </div>
   <div class="mx-auto w-1/2">
    <h2 class="text-3xl font-bold sm:text-4xl">Présentation Creabat Menuiseries</h2>
    <p class="mt-1 text-justify">Chez Créabat Menuiseries, nous sommes fiers d'être votre partenaire de confiance en matière de fermetures extérieures. En tant que spécialistes, notre engagement est de vous offrir des solutions de haute qualité pour améliorer votre espace de vie.
Nos produits sont conçus pour allier esthétique, sécurité et efficacité énergétique, répondant ainsi aux besoins de chaque projet.
Que vous envisagiez une rénovation ou une construction neuve, notre équipe dévouée est prête à transformer vos idées en réalité. Nous mettons l'accent sur la personnalisation et l'excellence du début à la fin, assurant que chaque client obtienne une solution sur mesure.
Chez Créabat Menuiseries, notre passion est de créer des espaces qui non seulement reflètent votre style, mais améliorent également le confort et la fonctionnalité de votre maison. Nous sommes fiers de notre expertise, de notre service de qualité, et de notre engagement envers la satisfaction du client.
Faites confiance à Créabat Menuiseries pour la fourniture et la pose de vos fermetures extérieures. Contactez-nous aujourd'hui et laissez-nous vous aider à réaliser vos projets de manière exceptionnelle."
</p>
  </div>  
</div>