    <div class="call_to_action">
        <div class="wrapper_slider"></div>
            <div class="slider-container">
                <div class="container_photo_slick"><img src="{{asset('assets/img/photos/creabat-fenetre.jpg')}}" alt=""></div>
                <div class="container_photo_slick"><img src="{{asset('assets/img/photos/creabat-duo.jpg')}}" alt=""></div>
                <div class="container_photo_slick"><img src="{{asset('assets/img/photos/creabat-plan.jpg')}}" alt=""></div>
            </div>  
             <div class="container_h1">
                <p class="bienvenue">MENUISERIES ALU, PVC ET BOIS</p>
                <h1 class="h1_accueil">Pour tous vos projets de rénovation et de construction</h1>
                <button type="button" class="rounded-md bg-customBlue px-3.5 py-2.5 mt-5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Demander un devis</button>
            </div>  
    </div>

