{% extends 'admin/admin-base.html.twig' %}

{% block title %}
	Publier une nouveau projet
{% endblock %}

{% block dashboardcontent %}
  <div class="container max-w-7xl mx-auto">
    <h1 class="text-2xl font-semibold">Ajouter un projet</h1>
    {% include 'admin/project/_form.html.twig' %}
  </div 
{% endblock %}
