{% extends 'admin/admin-base.html.twig' %}

{% block title %}
    Modifier une catégorie
{% endblock %}
{% block dashboardcontent %}
	<div class="container max-w-7xl  mx-auto">
        <h1>Modifier une catégorie</h1>
        {% include 'admin/category/_form.html.twig' with {'button_label': 'Modifier'} %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}" defer></script>    
{% endblock %}