{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}
    <main class="h-full">
    
        <div class="container w-50 my-14 mx-auto">
        <h1 class="text-xl font-black">Formulaire de contact</h1>
            {{ form(form) }}
        </div>
    </main>
{% endblock %}
