{% extends 'base.html.twig' %}
{% block meta_description %}Besoin de conseils, d'un devis, contactez nous pour en discuter{% endblock %}

{% block meta_og_title %}Formulaire de contact | Créabat Menuiseries{% endblock %}

{% block meta_og_description %}Besoin de conseils, d'un devis, contactez nous pour en discuter{% endblock %}

{# Voir pour meta_ogo_image #}
{% block meta_og_image %}
	
{% endblock %}

{% block title %}Formulaire de contact | Créabat Menuiseries{% endblock %}

{% block body %}
	{% include '_partials/_alert-success.html.twig' %}	
	<main class="py-6 md:py-14">
	{# TODO: revoir taille du titre et réduire la taille du formulaire en mode mobile #}
		<div class="mx-auto max-w-7xl px-6 lg:px-8  xl:w-3/5">
			<div>
				<h1 class="text-3xl font-bold mb-16 sm:text-4xl uppercase">Formulaire de contact</h1>
				{{ form(form) }}
				</div>
				<div class="w-full border-t border-gray-300  mb-14 mt-16"></div>

				<h2 class="text-2xl font-bold mb-3 md:mb-12 uppercase">Infos pratiques</h2>
				<div class="md:flex w-full justify-start">

					{% include "_partials/_carte.html.twig" %}
					<div class="flex flex-col justify-between md:ml-16">
						<div class="mr-16 mt-24">
							<h2 class="font-bold mb-1 uppercase">Nous trouver :</h2>
							<div class="flex md:text-end ">
								<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 384 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M352 192c0-88.4-71.6-160-160-160S32 103.6 32 192c0 15.6 5.4 37 16.6 63.4c10.9 25.9 26.2 54 43.6 82.1c34.1 55.3 74.4 108.2 99.9 140c25.4-31.8 65.8-84.7 99.9-140c17.3-28.1 32.7-56.3 43.6-82.1C346.6 229 352 207.6 352 192zm32 0c0 87.4-117 243-168.3 307.2c-12.3 15.3-35.1 15.3-47.4 0C117 435 0 279.4 0 192C0 86 86 0 192 0S384 86 384 192zm-240 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm48 80a80 80 0 1 1 0-160 80 80 0 1 1 0 160z"/></svg>
								<p class="ml-2">
									<a href="https://www.google.com/maps/place/Creabat/@43.238991,0.094302,14z/data=!4m6!3m5!1s0x12a9d30fa7aa7461:0x9c395da8ef891c6!8m2!3d43.2390532!4d0.0943022!16s%2Fg%2F11y1chjr2m?hl=fr&entry=ttu">42 Av. Jean Jaurès, 65800 Aureilhan</a>
								</p>

							</div>
							<div class="flex">
								<svg class="font-black" xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M375.8 275.2c-16.4-7-35.4-2.4-46.7 11.4l-33.2 40.6c-46-26.7-84.4-65.1-111.1-111.1L225.3 183c13.8-11.3 18.5-30.3 11.4-46.7l-48-112C181.2 6.7 162.3-3.1 143.6 .9l-112 24C13.2 28.8 0 45.1 0 64v0C0 300.7 183.5 494.5 416 510.9c4.5 .3 9.1 .6 13.7 .8c0 0 0 0 0 0c0 0 0 0 .1 0c6.1 .2 12.1 .4 18.3 .4l0 0c18.9 0 35.2-13.2 39.1-31.6l24-112c4-18.7-5.8-37.6-23.4-45.1l-112-48zM447.7 480C218.1 479.8 32 293.7 32 64v0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0c0-3.8 2.6-7 6.3-7.8l112-24c3.7-.8 7.5 1.2 9 4.7l48 112c1.4 3.3 .5 7.1-2.3 9.3l-40.6 33.2c-12.1 9.9-15.3 27.2-7.4 40.8c29.5 50.9 71.9 93.3 122.7 122.7c13.6 7.9 30.9 4.7 40.8-7.4l33.2-40.6c2.3-2.8 6.1-3.7 9.3-2.3l112 48c3.5 1.5 5.5 5.3 4.7 9l-24 112c-.8 3.7-4.1 6.3-7.8 6.3c-.1 0-.2 0-.3 0z"/></svg>
								<p class="ml-2">
									<a href="tel:0784291829">07 84 29 18 29</a>
								</p>
							</div>
						</div>
						<div>
							<h2 class="font-bold mb-1 mt-3 md:mt-0 uppercase">Horaires d'ouverture :</h2>
							<ul>
								<li>Lundi :
									<time class="font-thin">09h00 - 18h00</time>
								</li>
								<li>Mardi :
									<time class="font-thin">09h00 - 18h00</time>
								</li>
								<li>Mercredi :
									<time class="font-thin">09h00 - 18h00</time>
								</li>
								<li>Jeudi :
									<time class="font-thin">09h00 - 18h00</time>
								</li>
								<li>Vendredi :
									<time class="font-thin">09h00 - 18h00</time>
								</li>
								<li>Samedi :
									<time class="font-thin">Fermé</time>
								</li>
								<li>Dimanche :
									<time class="font-thin">Fermé</time>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</main>
	{% endblock %}
