{% extends 'admin/admin-base.html.twig' %}

{% block title %}
	Publier une actualité
{% endblock %}
{% block dashboardcontent %}
	<div class="container max-w-7xl mx-auto">
		<h1 class="text-2xl font-semibold">Publier une actualité</h1>
		{% include 'admin/actu/_form.html.twig' %}
	</div 
{% endblock %}
