{% extends 'admin/admin-base.html.twig' %}

{% block title %}
    Modifier un fournisseur
{% endblock %}
{% block dashboardcontent %}
    <div class="container max-w-7xl mx-auto">
        <h1>Modifier un fournisseur</h1>
        {% include 'admin/supplier/_form.html.twig' with {'button_label': 'Modifier'} %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}" defer></script>    
{% endblock %}